.hero{
    background-color: #c4c4c4;
    padding: 100px 400px; 
}

.title{
    color: black;
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 300 ;
    line-height: 1.5;
    letter-spacing: 11px;
    font-family: "Oswald",sans-serif;
}
.second-title{
    color: black;
    font-family: "Oswald",Sans-serif;
    font-size: 72px;
    font-weight: 500 ;
    margin-bottom: 10px;
}
.success {
    color: rgb(12, 10, 10);
    font-size: 24px;
    line-height: 1.5;
    font-family: "Oswald",Sans-serif;
    padding-top: 20px;
    letter-spacing: 1px;
}
.btn{
    position: relative;
    z-index: 1;
    padding: 22px 30px 22px 30px;
    min-width: 202px;
    border-radius: 5px;
    background: black;
    color: white;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-family: "Oswald";
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.566);  
    color: white;

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .hero{
        padding: 80px 20px 40px 20px;  
    }
    .second-title{
        font-size: 32px;
        margin-bottom: 0;
    }
    .success{
        line-height: 1.5; 
        font-size: 20px;
    }
    .btn{
        padding: 17px 20px 17px 20px;  
    }
}
@media (min-width: 767px) and (max-width: 821px) {
    /* for tablet */
    .hero{
        padding: 80px 40px 80px 40px;  
    }
}