.privacy-sec-1{
    padding: 200px 0px;
    background-image: url('../images/privacy.webp');
    background-size: cover;
    color: white;
}
.company-sec-1{
    padding: 150px 100px;
    background-image: url('../images/company-policy.webp');
    background-size: cover;
    
}
.company-sec-1 h1{
    color:black;
    font-family: "Oswald";
    font-weight: 500;
    font-style: normal;
    line-height: 1.3;
    font-size: 72px;
}


.privacy-sec-2{
    padding: 50px 150px;
}
.privacy-sec-2 h2{
    text-align: center;
    font-family: "Oswald";
    font-weight: 500;
    font-style: normal;
    line-height: 1.3;
    font-size: 52px;
}
.privacy-sec-2 p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.privacy-sec-3{
    padding: 10px 150px;
}
.privacy-sec-3 h6{
    font-size: 26px;
    color: #444040;
}
.privacy-sec-3 p{
    color: #444040;
}
.privacy-sec-3 ul{
    color: #444040;
}
.privacy-sec-3 h5{
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.email{
    color: rgba(0, 0, 0, 0.644);
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .privacy-sec-1 {
        padding: 63px 0px;
    }
    .privacy-sec-2 {
        padding: 50px 10px;
    }
    .privacy-sec-3 {
        padding: 10px 20px;
    }
    .privacy-sec-3 h6 {
        font-size: 21px;
        color: #444040;
    }
}


@media (min-width: 767px) and (max-width: 821px) {
        /* For tablet iPad: */
    .privacy-sec-1 {
        padding: 120px 0px;
    }
    .privacy-sec-2 {
        padding: 50px 50px;
    }
    .privacy-sec-3 {
        padding: 10px 50px;
    }
}